# Docker file exclusions
/docker/data/mssql/*
!/docker/data/mssql/*.md
/docker/data/solr/*
!/docker/data/solr/*.md
/docker/data/traefik/certs/*
!/docker/data/traefik/certs/*.md
/docker/data/traefik/config/dynamic/*
/docker/data/deploy/cm/*
!/docker/data/deploy/cm/readme.md
/docker/data/deploy/cd/*
!/docker/data/deploy/cd/readme.md
/docker/data/deploy/id/*
!/docker/data/deploy/id/readme.md

**/.vs
**/*.user
packages
**/bin
**/obj
!tools/*
/deploy
jss/*/.vscode
.sitecore
**/.scindex

#FED
node_modules
/docker/data/cm/*.txt
/docker/data/cd/*.txt
